<?xml version="1.0"?>

<launch>
    <!--The models used by rviz and mujoco are separate, to make use of the additional functionality of xml in mujoco-->
    <arg name="urdf_door" default="$(find franka_sim)/model/robots/robot_door.urdf"/>
    <arg name="xml_door" default="$(find franka_sim)/model/robots/samplefinal.xml"/>

    <include file="$(find franka_sim)/launch/simulation.launch">
        <!--Use the xml for mujoco-->
        <arg name="mujoco_model" default="$(arg xml_door)"/>
        <!--Use urdf for rviz-->
        <arg name="rviz_model" default="$(arg urdf_door)"/>
        <!--The coordinates the camera looks at-->
        <arg name="look_at_x" default="0.1"/>
        <arg name="look_at_y" default="-0.45"/>
        <arg name="look_at_z" default="1.1"/>
    </include>

</launch>
