<launch>
    <!--The transformation format: x y z qx qy qz qw source_frame target_frame publishing_period-->
    <!-- (qx, qy, qz, qw)^T is a rotation in a quaternion representation -->

    <!--The handle core location (at the handle beam depth) is specified by "handle_core" frame -->
    <node pkg="tf" name="handle_core_publisher" type="static_transform_publisher"
          args="0.367 0.195 0.152 -0.5 0.5 -0.5 0.5 base_link handle 100"/>

    <!--The hinge location is specified by "door_hinge" frame -->
      <node pkg="tf" name="hinge_publisher" type="static_transform_publisher"
          args="0.444 -0.007 0.057 -0.5 0.5 -0.5 0.5 base_link door_hinge 100"/>

</launch>
